@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');



*{  background:#F2F4CE;
    padding: 0;
    margin: 0;
    font-family: "Sono", serif;
}



input{
    width: 150px !important;
    height: 150px !important;
    font-size: 50pt !important;
    text-align: center !important;
    font-family: "Sono", serif; 
}

input [type="number"]::-webkit-outer-spin-button,
input [type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    font-family: "Sono", serif;
    
}

.time{
    color:#fff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
    font-family: "Sono", serif;
}



h2{
    font-size: 90pt;
    font-family: "Sono", serif;
}

#timer{
    display:none !important;
    font-family: "Sono", serif;
}

#sessoes, #pausa, #acao {
    background-color: #D03C3C; /* Cor de fundo vermelha */
    color: white; /* Cor do texto (branco) */
    border: 2px solid #9B2C2C; /* Cor da borda vermelha escura */
    border-radius: 55px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    font-family: "Sono", serif;
}


#body1 {
    background-color:#F2F4CE;
    color: #F2F4CE;
    font-family: 'Sono', serif !important;


}
#ContainerLanding{
    background-color: #eee6b9;
    height: 85%;
    width: 35%;
    border-radius:15%;
    margin-top: 1%;
    border-color: #5f3720;
    border-width: 2px;
    border-style: solid;
}

#input1{
    border-radius: 50%; 
    font-family: 'Sono', serif !important;
}

#BotaoLP{
    background-color: #29793b;
    color: rgb(248, 239, 233);
    border:none!important;
    width: 160px;
    height: 40px;
    font-size: 150%;
    align-items: center;
    justify-items: center;
}

#Tomathias{

    border:none!important;
    width: 250px;
    height: 350px;
    align-items: center;
    justify-items: center;
    background-color: #eee6b9; 
    margin-top: -188%;
}

#h1LP{
    background-color: #eee6b9; 
    margin: auto;
    border: none;
    color:#D03C3C;
    margin-top: 8%;
    margin-bottom: 0%;
    margin-left: 20px;


}

#h2LP{
    background-color: #eee6b9; 
    border: none;
    color:#29793b;
    margin-top: -1%;
    margin-bottom: 6%;
    font-size: 48px;
    margin-left: 20px;


}
